@page
@model AbbyWeb.Pages.Categories.CreateModel


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="textalert-primary pl-3">Create Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <lable asp-for="Category.Name">Name</lable> 
            <br/>
            <input asp-for="Category.Name" class="form=control w-50"/>
            <br/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
           <lable asp-for="Category.DisplayOrder">Display Order</lable>
           <br/>
            <input asp-for="Category.DisplayOrder" class="form=control w-50"/>
            <br/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <button type="submit" class="btn btn-primary" style="width:150px" asp-page="../Index">Back to List</button>

    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}